{{!-- <html>
    <head>
        <title>Help</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>what's the problem</p>
        <p>I am {{name}}</p>
    </body>
</html> --}}

{{!-- video 49 --}}
{{!-- <html>
    <head>
        <title>Help</title>
    </head>
    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <p>what's the problem</p>
        <p>I am {{name}}</p>
        {{>footer}}
    </body>
</html> --}}
{{!-- video 51 and 52 --}}
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/images.jpg">
        <link rel="stylesheet" href="/css/51.styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>{{title}}</h1>
            <p>what's the problem</p>
            <p>I am {{name}}</p>
        </div>
       
        {{>footer}}
    </body>
</html>

